@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" />
</head>

<body>

    <!-- impostazione header -->

    <header>

        <nav class="navbar sticky-top  bg-dark">
            <div class="container-fluid ">
                <span class="navbar-brand text-info ms-5 ">DoIta07</span>

                <span>
                    <a class="navbar-text text-info" href="#"> 347 149 4498</a>
                    <a>
                        Contact me
                    </a>
                </span>
            </div>
        </nav>
    </header>

    <!-- impostazione main -->
    <main>

        <!-- primo container main -->
        <div class=bg-info>

            <div class="container-fluid ">
                <div class="row main row ">
                    <div class="col-12 col-md-12 col-xl-12 text-dark ">
                        <div class="text-center">
                            <img src="https://img.freepik.com/premium-vector/pizza-logo-design_9845-319.jpg?w=2000" class="rounded-circle mt-3" width="300"
                                 height="300" alt="img profilo">
                        </div>
                        <div>
                            <h4 class="text-center mb-0 "> Pizzeria DoIta07 </h4>
                          
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- impostazione secondo contenitore main -->

        <h1 class="text-center mt-4"> Le nostre Pizze </h1>

        <div class="container ">

            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-evenly">


            <!--Primo card-->

            <div class="card border-0" style="width: 18rem;">
                <img src="https://www.tavolartegusto.it/wp/wp-content/uploads/2018/03/pizza-fatta-in-casa-buona-come-in-pizzeria-tutti-i-segreti-Ricetta-Pizza-fatta-in-casa-1-1.jpg" class="card-img-top" alt="Margherita Pizza">
                <div class="card-body  ">
                    <h5 class="card-title">Margherita</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>5€</p>
                </div>
            </div>


            <!--Secondo card-->

            <div class="card border-0" style="width: 18rem;">
                <img src="https://www.simplyrecipes.com/thmb/pjYMLcsKHkr8D8tYixmaFNxppPw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__09__easy-pepperoni-pizza-lead-3-8f256746d649404baa36a44d271329bc.jpg" class="card-img-top" alt="Pepperoni pizza">
                <div class="card-body  ">
                    <h5 class="card-title">Pepperoni</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>5€</p>
                </div>
            </div>

            <!--Terzo card-->

            <div class="card border-0" style="width: 18rem;">
                <img src="https://www.lospicchiodaglio.it/img/ricette/pizzafunghifreschi.jpg" class="card-img-top" alt="Pizza ai funghi">
                <div class="card-body  ">
                    <h5 class="card-title">Porcini</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>5€</p>
                </div>
            </div>

            <!--Quarto card-->

            <div class="card border-0" style="width: 18rem;">
                <img src="https://www.lospicchiodaglio.it/img/ricette/pizzasalsiccia.jpg" class="card-img-top" alt="Pizza alla salsiccia ">
                <div class="card-body  ">
                    <h5 class="card-title">Pizza alla salsiccia</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>5€</p>
                </div>
            </div>

        </div>

        </div>


    </main>
    <!--footer-->
    <footer class="text-center bg-dark m-0 p-0 g-0 ">

        <div class="contrainer ">
            <div class="row g-0">
                <div class="col text-muted">


                    <h4 class="p-3 mt-3"> LOCATION</h4>

                    <p CLASS="pb-3">2115 JOHN DANIEL DRIVE <br> CLARK, MO 65243</p>

                    <p>Copyright © Your Website 2021</p>





                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>
